.editor_dock {
  position: absolute;
  bottom: 75px;
  left: 20%;
  right: 20%;
  z-index: 6;
  padding: 10px;
}

.editor_dock .editor_toolbar {
  padding: 10px;
}

.editor_dock .editor_toolbar button {
  width: auto;
  padding: 5px;
  margin-left: 5px;
}

.editor_dock .editor_toolbar .table_position_field {
  width: 300px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
}

.editor_dock .editor_toolbar .toggle {
  padding: 5px;
  margin-left: 5px;
}

.editor_dock .editor_toolbar .toggle_label {
  padding: 5px;
  margin-left: 20px;
  font-weight: bold;
  color: #4f45e4;
}
