.function_node {
  height: 8em;
  width: 8em;
  padding: 5px;
  border-radius: 5px;
}

.function_node .symbol {
  position: absolute;
  margin: 0;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
