html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* align with highlight.js */
.react-simple-code-editor-textarea {
  padding: 1em !important;
  font-size: 1em !important;
  font-family: monospace !important;
}

@keyframes p-progress-spinner-color {
  100%,
  0% {
    stroke: #6466e9;
  }
  40% {
    stroke: #6466e9;
  }
  66% {
    stroke: #6466e9;
  }
  80%,
  90% {
    stroke: #6466e9;
  }
}

/* prevent from blocking clicks on below items */
.p-progress-spinner::before {
  padding-top: 0 !important;
}

.p-paginator {
  justify-content: right !important;
}

/* rid supabase-comments-extension of supabase styling */
.CommentContainer_comment_container__gpMEx {
  background-color: #fff !important;
  border: none !important;
}

/* add scrolling to top level of comments in SCE */
.rounded-md > .space-y-1 {
  max-height: 200px;
  overflow-y: scroll;
  /* hide scrollbar */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: calc((100% - 50em) / 2);
}

.rounded-md > .space-y-1::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
