.graph_table_toggle_dock {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.graph_table_toggle_dock .toggle_buttons {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.graph_table_toggle_dock .toggle_buttons button {
  width: auto;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
