.container {
  padding-top: 1rem;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.detail_field{
  background-color: #F8F8F8;
}