.mgraph {
  height: 100%;
  width: 100%;
}

.mgraph .control_panel {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 5;
  font-size: 12px;
}

.mgraph .control_panel button {
  width: auto;
  padding: 5px;
  margin-left: 5px;
}

.mgraph .editor_dock {
  position: absolute;
  bottom: 10px;
  left: 25%;
  right: 25%;
  z-index: 5;
  padding: 10px;
}

.mgraph .editor_dock .editor_toolbar {
  padding: 10px;
}

.mgraph .editor_dock button {
  width: auto;
  padding: 5px;
  margin-left: 5px;
}
