.new_monitoring_rule_container {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding: 1rem;
}

.save_cancel_button_container {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.save_cancel_button_container .save_cancel_button_spacer {
  width: 0.5rem;
}

.monitoring_rules_table_container {
  width: 100%;
  height: auto;
}
