.query_parameters_container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 100%;
  overflow: auto;
}

.query_parameters_container .query_parameters_title {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.query_parameters_container .new_dimension_container {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding: 1rem;
}

.save_cancel_button_container {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.save_cancel_button_container .save_cancel_button_spacer {
  width: 0.5rem;
}

.query_parameters_container .dimensions_table_container {
  width: 100%;
  height: auto;
}
